.home-container-carrossel{
    max-width: 100vw;
    
}

.home-container-carrossel img{
    width: 100%
}

.swiper-pagination-bullet-active{
    background-color: #fff;
}

.swiper-button-prev,.swiper-button-next{
    color: #fff;
    background-color: #766DF4;
    padding: 40px;
    scale: 70%;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0.5;
    transition: 0.3s
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    opacity: 1;
}