.movie-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.movie-container{
    padding: 50px 20px;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    
}

.img_container{
    width: 400px
}

.img_container>img{
    max-width: 100%;
    
}

.movie-container>.descrition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.movie-container>.descrition>.title-movie>h1{
    font-size: 2rem;
    border-bottom: 2px solid #3f34b6;
    margin: 0;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.movie-container>.descrition>.info{
    max-width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: #b3b3b3;
    
}

.movie-container>.descrition>.info>.info-title>.icon-movie{
    font-size: 1.7rem;
    background-color: #3f34b6;
    padding: 5px;
    
}

.icon-info{
    background-color:#3f34b6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    font-size: 1rem;
}


.movie-container>.descrition>.info>.info-title{
    color: #fff;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#766DF4);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
    margin: auto;
  }

@keyframes s3 {to{transform: rotate(1turn)}}

