.search-container{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 20px;
    justify-content: center;
    
}

span{
    color: #3f34b6;
    text-transform: uppercase;
}

.custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#766DF4);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
    margin: auto;
  }

@keyframes s3 {to{transform: rotate(1turn)}}