h1{
    margin: 2rem 2rem;
    padding-bottom: 1rem;
    max-width: 600px;
    border-bottom: 2px solid #3f34b6;
    
}
.carrossel-container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 40px;
}


.films-carrossel{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.arrow-left, .arrow-right{
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    background: none;
    top: 0;
    bottom: 0;
    z-index: 3;
    border: none;
    color: #ffffff;
    font-size: 30px;
    padding: 20px;
    opacity: 0.6;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.icon{
    background-color: #766DF4;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.icon:hover{
    scale: 103%;
}


.arrow-left{
    left: 0;
}.arrow-left:hover{
    opacity: 1;
}

.arrow-right{
    right: 0;
}.arrow-right:hover{
    opacity: 1;
}

.films-carrossel::-webkit-scrollbar{
    display: none;
}

.films-carrossel h3, p{
    margin-top: 5px;
}

.films-carrossel h3{
    font-size: 1.2rem;
    color: #fff;
}

.films-carrossel p{
    color: #b3b3b3;
}

.item{
    max-width: 250px;
    transition: 0.3s;
    
}

.item:hover{
    scale: 103%;
}

.img-container{
    margin: 0px 15px;
}

.custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#766DF4);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
    margin: auto;
  }

@keyframes s3 {to{transform: rotate(1turn)}}