.home-container-carrossel{
    max-width: 100vw;
    height: 100%;
}

.home-container-carrossel img{
    width: 100%;
}

.swiper-pagination-bullet-active{
    background-color: #fff;
}

.swiper-button-prev,.swiper-button-next{
    color: #fff;
    padding: 40px;
    scale: 70%;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0.5;
    transition: 0.3s
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    opacity: 1;
}

.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner>h2{
    position: absolute;
    font-size: clamp(20px, 8vw, 80px);
}

.banner>h2>a{
    text-decoration: none;
    color: #fff;
}

.banner form{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner form>input, .banner form>button{
    border: none;
    padding: 25px;
}

.banner form>input{
    font-size: 25px;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    width: 650px;
    transition: 0.3s;
}

.banner form>input:focus{
    width: 700px;
}

.banner form>button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    border-radius: 50%;
    transition: 0.3s;
    background-color: #3f34b6;
    color: #fff;
}

.banner form>button:hover{
    scale: 105%;
}

@media screen and (max-width: 700px){
    .banner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .banner form>input{
        width: 200px;
        font-size: 15px;
    }

    .banner form>input:focus{
        width: 250px;
    }

    .banner form>button{
        font-size: 1.5rem;

    }

    .banner form>input, .banner form>button{
        border: none;
        padding: 15px;
    }
}

