.card{
    width: 200px;

}

.card>img{
    max-width: 100%;
    flex-shrink: 1 200px;
    transition: 0.3s;
}

.card>img:hover{
    scale: 105%;
    
}

.card>h3,p{
    margin-top: 10px;
}

.card>h3{
    color: #fff;
}

.card>p{
    color: #b3b3b3;
}

@media screen and (max-width: 420px){
    .card{
        width: 300px;
    }
}